---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Card from '../components/shared/Card.svelte';
import SuccessIcon from '../components/shared/SuccessIcon.svelte';
import FormButton from '../components/shared/FormButton.svelte';

const subscriber = Astro.cookies.get('subscriber').value;

if (!subscriber) {
	// return new Response(null, {
	// 	status: 404,
	// 	statusText: 'Not Found'
	// });
	return Astro.redirect('/');
} else Astro.cookies.delete('subscriber', {path: '/success'});
---

<Layout title="Thanks for subscribing!">
	<Card maxWidth={450}>
		<article>
			<div>
				<SuccessIcon size={50} />
				<h1>Thanks for subscribing!</h1>
				<p>A confirmation email has heen sent to <span>{subscriber}</span>. Please open it and click the button inside to confirm your subscription.</p>
			</div>
			<form method="get" action="/">
				<FormButton title="Dismiss Message" />
			</form>
		</article>
	</Card>
</Layout>

<style>
	article {
		padding: 25px 25px 40px;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	
	article > div {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1em;
	}

	p > span {
		font-weight: bold;
	}

	form {
		display: flex;
		flex-direction: column;
	}
	
	@media (max-width: 500px) {
		article {
			height: 100vh;
			gap: 0;
		}
		
		article > div {
			flex: 1;
			justify-content: center;
			margin-top: -150px;
		}
		
		h1 {
			margin-top: 15px;
		}
	}
</style>


